<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    
    
</head>
<body>
    <div class="alert alert-info" role="alert">
        <h1 style="text-align:center;">This is sample home page from here we will go to the login page
        <br>
        Login & Registration
        </h1>
    </div>
    <div class="alert alert-info " role="alert">
        <a href="{%url 'login'%}" style="padding-left: 80px;">Login</a><a href="{%url 'register'%}" style="padding-left: 80px;">Register</a>


    </div>
    {{email}}
</body>
</html>